{#
/**
 * Dashboard plugin for Craft CMS
 *
 * Dashboard_TextWidget Body
 *
 * @author    Designosource
 * @copyright Copyright (c) 2018 Designosource
 * @link      http://www.designosource.be
 * @package   Dashboard
 * @since     1.0.0
 */
 #}

 <div class="recententries-container" style="font-size: 1.4em; line-height: 1.5em;">
 	<p>Wat wilt u graag doen?</p>
 	<table class="data fullwidth">
 		<tr>
 			<td>
 				<a href="{{ siteUrl }}admin/entries/singles">Een pagina aanpassen</a>
 			</td>
 		</tr>
 		<tr>
 			<td>
 				<a href="{{ siteUrl }}admin/entries/press/new">Persbericht schrijven</a>
 			</td>
 		</tr>
 		<tr>
 			<td>
 				<a href="{{ siteUrl }}admin/entries/mediaImage/new">Media toevoegen</a>
 			</td>
 		</tr>
 	</table>
 </div>
