{% extends "_layout" %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			<div class="grid">
				<div class="row">
					<div class="col-2">
						<a class="link" href="{{ craft.entries.section('pressOverview').first().getUrl() }}">&lt; terug</a>
						<div class="socialShare">
							<p class="share">Deel op</p>
							<hr>
							<ul>
								<li><a class="link" href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a class="link" href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a class="link" href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-10">
						<h1 class="press--title">{{ entry.title }}</h1>
						<p><small>{{ entry.postDate|date('l d F Y'|t) }}</small></p>
						<p>{{ entry.intro }}</p>
						{% include '_snippet/_content/_pressBuilder' %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}