<div class="block">
	<img class="cb-image" src="{{ siteUrl }}{{ block.image.first().getUrl() }}">
    {# {% for img in block.image %}
    	<img class="cb-image" src="{{ siteUrl }}{{ img.first().getUrl() }}">
    {% endfor %} #}
</div>