.btn {
	padding: 7px 12px;
	background-color: gainsboro;
	border-radius: 3px;
	&--primary {
		background-color: $gram_red;
		color: $white;
	}
	&--center {
		margin: 25px auto;
	}
	&:hover {
		background-color: $gram_dark_grey;
		color: $white;
	}
}