footer {
    //height: 256px;
    padding: 10px;
    background-color: $gram_red;
	color: $white;

    .section {
        padding: 0;

        h5 {
            text-transform: uppercase;
            letter-spacing: 0.07em;
        }

        .row:first-of-type {
            padding-top: 1rem;

            @media screen and (max-width: 1024px) {
                height: 120px;
            }

            .col-3:first-child {
                img {
                    width: auto;
                    height: 40%;
                }

                @media screen and (max-width: 1024px) {
                    display: none;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    margin-bottom: 0.5rem;

                    a {
                        font-weight: $fw-regular;
                        font-size: 0.78rem;
                        color: $white;
                    }
                }
            }

            .col-3:nth-child(2) {
                ul {
                    li:first-of-type {
                        width: 100%;
                    }

                    li:not(:first-of-type) {
                        margin-right: 1rem;

                        a {
                            font-size: 0.88rem;
                        }
                    }
                }

                @media screen and (max-width: 1024px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: center;

                    ul {
                        justify-content: center;
                    }
                }
            }

            .col-3:nth-child(3) {
                height: 140px;
                nav {
                    height: 100%;

                    ul {
                        height: 100%;
                        flex-direction: column;
                    }
                }

                @media screen and (max-width: 1024px) {
                    display: none;
                }
            }

            .col-3:last-child {
                ul {
                    display: block;
                }

                @media screen and (max-width: 1024px) {
                    display: none;
                }
            }
        }

        .row:last-of-type {
            margin-top: 1rem;

            a.copyright {
                font-weight: $fw-regular;
                font-size: 0.61rem;
                color: $white;
                margin: auto;
            }
        }
    }
}
