@import "_colors.scss";
@import "header.scss";

body {
	font-family: 'Roboto', sans-serif;
}

/* HEADER */

/* CONTENTBUILDER */
img.cb-image {
	display: block;
	width: 100%;
}

/* FOOTER */
footer {
	background-color: $gram_red;
	color: white;
}

.test-intro {
	color: red;
}
