{% extends "_layout" %}

{% block content %}

	<div class="section section--default">
		<div class="container">
			<div class="grid">
				<div class="row">

					{% paginate craft.entries.section('mediaImage').limit(10) as pageInfo, pageEntries %}

					{% for media in pageEntries %}
						<div class="col-sm-3 news--div">
							<a data-fancybox="gallery" href="{{ siteUrl }}{{ media.image.first().getUrl() }}">
								<img class="cb-image" src="{{ siteUrl }}{{ media.image.first().getUrl('mediaItem') }}">
							</a>
						</div>
					{% endfor %}
				</div>
			</div>

			{% include '_snippet/_item/_pagination' %}

		</div>
	</div>
	
{% endblock %}